
@use 'padrao' as *;

@media(screen) and (max-width: 419px){
    body .main-container {
       .container-pokemons-ol{
            grid-template-columns: repeat(1, 1fr);
        }

    
    }
}

@media screen and (min-width: 420px){
    body .main-container {
       .container-pokemons-ol{
            grid-template-columns: repeat(2, 1fr);
        }
    }

}


@media screen and (min-width: 680px) and (max-width:849px){
    body .main-container {
       .container-pokemons-ol{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}


@media screen and (min-width: 850px) {

    body .main-container{
        .container-pokemons-ol{
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media screen and (min-width: 1200px){
    body .main-container {
       .container-pokemons-ol{
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

@media screen and (min-width: 1400px){

    body .main-container {
       .container-pokemons-ol{
            grid-template-columns: repeat(6, 1fr);
        }
    }
}

@media screen and (min-width: 1700px){

    body .main-container {
       .container-pokemons-ol{
            grid-template-columns: repeat(7, 1fr);
        }
    }
}



@media screen and (min-width: 2000px){

    body .main-container {
       .container-pokemons-ol{
            grid-template-columns: repeat(8, 1fr);
        }
    }
}


@media screen and (min-width: 2220px){

    body .main-container {
       .container-pokemons-ol{
            grid-template-columns: repeat(9, 1fr);
        }
    }
}
