
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Roboto", "Inter", Arial, Helvetica, sans-serif;
    box-sizing: border-box; //Considera a borda como tamnaho total

    body{
        background-color: #f6f8fc;
        display: grid;
        grid-template-columns: 1 auto;
        grid-row: 1 auto;
        grid-template-areas: 
            "main"
            "footer";
    }
}
